@{
    ViewData["Title"] = "Demo2";
}

<div id="app">
    <h1>{{ message }}</h1>

    <hr />

    <div class="row">
        <div class="col-9">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true" v-on:click="rerender('form')">จัดการแบบฟอร์ม</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cell-data-tab" data-toggle="tab" href="#cell-data" role="tab" aria-controls="cell-data" aria-selected="false" v-on:click="rerender('cell-data')">จัดการข้อมูลตาราง</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="form" role="tabpanel" aria-labelledby="form-tab">

                    <div class="card">
                        <div class="card-body">

                            <div class="hot handsontable htRowHeaders htColumnHeaders" style="height: 100%; overflow: hidden; width: 100%;">
                                <hot-table ref="formWrapper" :settings="hotFormSettings"></hot-table>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="cell-data" role="tabpanel" aria-labelledby="cell-data-tab">

                    <div class="card">
                        <div class="card-body">
                            <div class="hot handsontable htRowHeaders htColumnHeaders" id="cellDataSheet" style="height: 100%; overflow: hidden; width: 100%;">
                                <hot-table ref="cellDataWrapper" :settings="hotCellDataSettings"></hot-table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100" v-bind:class="{ 'd-none' : isFormTab }">
                <div class="card-header">
                    <span class="card-title">จัดการสูตรคำนวน</span>
                </div>
                <div class="card-body">
                    <div class="list-group" id="variables">
                        <div class="list-group-item px-3 py-2" v-for="item in variables" :data-variable-id="item.variableId">
                            <button class="btn p-0 handle mr-1 fa fa-arrows-alt text-black-50" type="button"></button>
                            <span>{{ item.text }} </span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="button" v-on:click="test">test</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>ชื่อตัวแปร</label>
                        <input type="text" v-model="varibleModal.text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>ประเภทข้อมูล</label>
                        <select class="form-control" v-model="varibleModal.dataType">
                            <option :value="dataType.value" v-for="dataType in mdDataTypes">{{ dataType.text }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>เลือกเซลแสดงผล</label>
                        <div class="form-control">
                            <span v-for="crood in varibleModal.coords" class="badge badge-secondary mx-1">{{ crood.cell }}</span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>ตรวจสอบข้อมูล</label>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <select class="form-control">
                                            <option value="value">text</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control">
                                            <option value="value">text</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn"><i class="fa fa-plus-circle"></i>&ensp;เพิ่มข้อมูล</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>สูตรการคำนวน</label>
                        <textarea v-model="varibleModal.formula" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Head {
    <link rel="stylesheet" href="~/lib/handsontable/handsontable.full.css" />
    <link rel="stylesheet" href="~/lib/dragula/dragula.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />

    <style>
        .is-readOnly {
            border: 1px solid red;
        }
    </style>
}

@section Scripts {
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/handsontable/handsontable.full.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/handsontable/vue/dist/vue-handsontable.js"></script>
    <script src="~/lib/dragula/dragula.js"></script>
    <script src="~/lib/formula-parser/formula-parser.js"></script>

    <script>
        // make customRenderer to display variable in table
        var customRenderer = function (instance, td, row, col, prop, value, cellProperties) {
            Handsontable.renderers.TextRenderer.apply(this, arguments);
            if (value != null && value != '') {
                if (cellProperties.variable)
                    $(td).html('<button class="btn btn-link p-0 var-btn" role="button" data-x-id="' + cellProperties.variable.variableId + '" data-toggle="modal" data-target="#exampleModal">' + cellProperties.variable.text + '</button>');
            }
            if (cellProperties.isTemplate) {
                $(td).css('background-color', '#f8f8f8');
            }
        };

        var customFormRenderer = function (instance, td, row, col, prop, value, cellProperties) {
            Handsontable.renderers.TextRenderer.apply(this, arguments);
            if (value && value[0] == '!') {
                $(td).html('');
            }
        };

        // on click variable open modal and add variable data to modal to edit
        $(document).on('click', '.var-btn', function (e) {
            console.log(e);
            let variable = app.getVariableById($(this).data('x-id'));
            app.varibleModal.text = variable.text;
            app.varibleModal.dataType = variable.dataType;
            app.varibleModal.coords = variable.coords;
            app.varibleModal.formula = variable.formula;
        });

        class Cell {
            constructor(row, col) {
                this.row = row;
                this.col = col;

                this.value = null;
            }

            setTemplate() {
                this.isTemplate = true;
            }
        }
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hansontable! Demo1',
                hotFormRef: null,
                hotCellDataRef: null,
                hotFormSettings: {
                    startRows: 3,
                    startCols: 3,
                    rowHeaders: true,
                    colHeaders: true,
                    contextMenu: true,
                    mergeCells: true,
                    width: '100%',
                    height: 'auto',
                    outsideClickDeselects: true,
                    manualColumnResize: true,
                    manualRowResize: true,
                    manualColumnMove: true,
                    manualRowMove: true,
                    stretchH: 'last',
                    contextMenu: {
                        items: {
                            'cut': {
                                name: 'Cut'
                            },
                            'copy': {
                                name: 'Copy'
                            },
                            'separator_0': Handsontable.plugins.ContextMenu.SEPARATOR,
                            'row_above': {
                                name: 'Insert row'
                            },
                            'col_left': {
                                name: 'Insert column'
                            },
                            'separator_1': Handsontable.plugins.ContextMenu.SEPARATOR,
                            'remove_row': {
                                name: 'Delete row'
                            },
                            'remove_col': {
                                name: 'Delete column'
                            },
                            'separator_2': Handsontable.plugins.ContextMenu.SEPARATOR,
                            'alignment': {
                                name: 'Alignment'
                            },
                            'separator_3': Handsontable.plugins.ContextMenu.SEPARATOR,
                            'mergeCells': {
                                name: 'Merge/Unmerge cells'
                            },
                        }
                    },
                    renderer: customFormRenderer,
                    licenseKey: 'non-commercial-and-evaluation'
                },
                hotCellDataSettings: {
                    data: [],
                    rowHeaders: true,
                    colHeaders: true,
                    //contextMenu: true,
                    mergeCells: true,
                    width: 'auto',
                    height: 'auto',
                    readOnly: true,
                    disableVisualSelection: true,
                    stretchH: 'last',
                    renderer: customRenderer,
                    licenseKey: 'non-commercial-and-evaluation'
                },
                isFormTab: true,
                dragEl: null,
                variables: [
                    {
                        variableId: 1,
                        text: "person",
                        value: 5,
                        dataType: 'text',
                        formula: null,
                        coords: []
                    },
                    {
                        variableId: 4,
                        text: "summary1",
                        value: 10,
                        dataType: 'numeric', 
                        formula: '=!1 + !2 + !3',
                        coords: [],
                    },
                    {
                        variableId: 5,
                        text: "summaryall",
                        value: 10,
                        dataType: 'numeric',
                        formula: '=SUM(!cash.1, !dep.1.1, ...)',
                        coords: []
                    }
                ],
                cellDataTab: {
                    mouseOnCoords: null
                },
                cellMergeData: [],
                varibleModal: {
                    text: '',
                    dataType: '',
                    coords: [],
                    formValidates: [],
                    formula: ''
                },
                mdDataTypes: [
                    { value: 'text', text: 'text' },
                    { value: 'numeric', text: 'numeric' },
                    { value: 'date', text: 'date' },
                ],
                // ----------- model -------------------
                model: {
                    colWidths: [],
                    rowHeights: [],
                    datas: [],
                    cells: [],
                    mergedCells: []
                }
            },
            mounted() {
                this.initHotForm();
                this.initHotCellData();
                this.initDragula();
                this.initModel();
            },
            methods: {
                cloneObj(obj) {
                    return Object.assign({}, obj);
                },
                initHotForm() {
                    this.hotFormRef = this.$refs.formWrapper.hotInstance;

                    Handsontable.hooks.add('afterMergeCells', this.afterMergeCells, this.hotFormRef);
                },
                initHotCellData() {
                    this.hotCellDataRef = this.$refs.cellDataWrapper.hotInstance;

                    Handsontable.hooks.add('afterOnCellMouseOver', this.afterOnCellMouseOver, this.hotCellDataRef);
                    Handsontable.hooks.add('afterOnCellMouseOut', this.afterOnCellMouseOut, this.hotCellDataRef);
                },
                initDragula() {
                    const self = this;
                    this.dragEl = dragula([document.querySelector('#variables')], {
                        moves: function (el, source, handle, sibling) {
                            //console.log($(handle).hasClass('handle'));
                            return $(handle).hasClass('handle'); // don't prevent any drags from initiating by default
                        },
                    })
                        .on('cancel', function (el) {
                            console.log('cancel', el);

                            if (self.cellDataTab.mouseOnCoords != null && self.hotCellDataRef != null) {
                                let isTemplate = self.hotCellDataRef.getCellMeta(self.cellDataTab.mouseOnCoords.row, self.cellDataTab.mouseOnCoords.col).isTemplate;
                                if (!isTemplate) {
                                    let variable = self.getVariableById($(el).data('variable-id'));
                                    let text = '!' + $(el).text().trim();
                                    variable.coords.push({
                                        row: self.cellDataTab.mouseOnCoords.row,
                                        col: self.cellDataTab.mouseOnCoords.col,
                                        cell: self.getCellLetter(self.cellDataTab.mouseOnCoords.row, self.cellDataTab.mouseOnCoords.col)
                                    });
                                    if (variable.coords.length > 1) {
                                        variable.coords.sort(function (a, b) {
                                            if (a.cell < b.cell) {
                                                return -1;
                                            }
                                            if (a.cell > b.cell) {
                                                return 1;
                                            }
                                            return 0;
                                        })
                                    }
                                    self.hotCellDataRef.setDataAtCell(self.cellDataTab.mouseOnCoords.row, self.cellDataTab.mouseOnCoords.col, text, 'user drag from dragula');
                                    self.hotCellDataRef.setCellMetaObject(self.cellDataTab.mouseOnCoords.row, self.cellDataTab.mouseOnCoords.col, { variable: variable });
                                    self.hotCellDataRef.render();
                                }
                                self.cellDataTab.mouseOnCoords = null;
                            }
                        })
                },
                initModel() {
                    // init cells
                    for (let cell of this.hotFormRef.getCellsMeta()) {
                        this.model.cells.push(new Cell(cell.row, cell.col));
                    }
                     // init data
                    this.model.datas = this.getDatasFromCells(this.model.cells);
                    // init colWiths
                    for (let i = 0; i < this.hotFormRef.countVisibleCols(); i++) {
                        this.model.colWidths.push(this.hotFormRef.getColWidth(i));
                    }
                    // init rowHeights
                    for (let i = 0; i < this.hotFormRef.countVisibleRows(); i++) {
                        this.model.rowHeights.push(this.hotFormRef.getRowHeight(i));
                    }
                    console.log('initModel', this.model);
                },
                updateHot(hotRef, model) {
                    setTimeout(function () {

                        // set data from form sheet
                        hotRef.loadData(model.datas);

                        // set class from form sheet
                        for (let cell of model.cells) {
                            hotRef.setCellMetaObject(cell.row, cell.col, cell);
                        }


                        // set column width from form sheet
                        hotRef.updateSettings({
                            colWidths: model.colWidths,
                            rowHeights: model.rowHeights,
                        });

                        // set merge cell from form sheet
                        for (let cell of model.mergedCells) {
                            console.log('MergeCells', cell);
                            hotRef.getPlugin('MergeCells').merge(cell.from.row, cell.from.col, cell.to.row, cell.to.col);
                        }

                        hotRef.render();

                        console.log('updateHot');
                    }, 5);
                },
                updateModel(hotRef, isTemplate = true) {
                    // set cells
                    for (let cell of this.model.cells) {
                        if (!this.stringIsNullOrEmpty(hotRef.getDataAtCell(cell.row, cell.col))) {
                            cell.value = hotRef.getDataAtCell(cell.row, cell.col);
                        }
                        if (!this.stringIsNullOrEmpty(cell.value)) {
                            if (!this.isVariable(cell.value)) {
                                cell.setTemplate();
                            }
                        }
                        let cellMeta = hotRef.getCellMeta(cell.row, cell.col);
                        console.log('updateModel', cell.className, cellMeta.className, typeof cellMeta.className !== 'undefined');
                        if (typeof cellMeta.variable !== 'undefined') {
                            cell.variable = cellMeta.variable;
                        }
                        if (typeof cellMeta.className !== 'undefined') {
                            cell.className = cellMeta.className;
                        }
                    }
                    // set data
                    this.model.datas = this.getDatasFromCells(this.model.cells);
                    //// set colWiths
                    //for (let i = 0; i < hotRef.countVisibleCols(); i++) {
                    //    this.model.colWidths.push(hotRef.getColWidth(i));
                    //}
                    //// set rowHeights
                    //for (let i = 0; i < hotRef.countVisibleRows(); i++) {
                    //    this.model.rowHeights.push(hotRef.getRowHeight(i));
                    //}
                    console.log('updateModel', this.model);
                },
                rerender(type) {
                    console.log('rerender to -> ' + type);
                    if (type == 'form') {
                        this.isFormTab = true;
                        this.updateModel(this.hotCellDataRef);
                        this.updateHot(this.hotFormRef, this.model);
                    } else if (type == 'cell-data') {
                        this.isFormTab = false;
                        this.updateModel(this.hotFormRef);
                        this.updateHot(this.hotCellDataRef, this.model, false);
                    }
                },
                afterOnCellMouseOver(event, coords, TD) {
                    if (coords.row != -1 && coords.col != -1 && this.dragEl.dragging) {
                        let isTemplate = this.hotCellDataRef.getCellMeta(coords.row, coords.col).isTemplate;
                        if (!isTemplate) {
                            if (TD.className != 'bg-warning') {
                                TD.className = 'bg-warning';
                                this.cellDataTab.mouseOnCoords = coords;
                            }
                        } else {
                            this.cellDataTab.mouseOnCoords = null;
                            TD.className = '';
                        }
                        //console.log('beforeOnCellMouseOver', this.cellDataTab.mouseOnCoords);
                    } else {
                        this.cellDataTab.mouseOnCoords = null;
                        TD.className = '';
                    }
                },
                afterOnCellMouseOut(event, coords, TD) {
                    this.cellDataTab.mouseOnCoords = null;
                    TD.className = '';
                },
                getVariableById(variableId) {
                    return this.cloneObj(this.variables[this.variables.findIndex(item => item.variableId == variableId)]);
                },
                test() {
                    console.log(this.hotCellDataRef.getSourceData());
                    console.log(this.hotCellDataRef.getCellsMeta());
                },
                afterMergeCells(cellRange, mergeParent, auto) {
                    console.log('afterMergeCells', cellRange, mergeParent, auto);
                    if (!this.model.mergedCells.includes(cellRange))
                        this.model.mergedCells.push(cellRange);
                },
                stringIsNullOrEmpty(str) {
                    return str === null || str === '' || typeof str === 'undefined';
                },
                isVariable(str) {
                    return str[0] == '!';
                },
                getCellDataSet(rowCount, colCount, arr) {
                    let list = [];
                    for (let r = 0; r < rowCount; r++) {
                        for (let c = 0; c < colCount; c++) {
                            list.push([r, c, arr[r][c]]);
                        }
                    }
                    return list;
                },
                getCellLetter(row, col) {
                    return ((65 + col) > 90 ? String.fromCharCode(65 + col / 65) + String.fromCharCode(65 + col - 26) : String.fromCharCode(65 + col)) + row;
                },
                getDatasFromCells(cells) {
                    let datas = [], rowTemp = -1;
                    for (let cell of cells) {
                        if (rowTemp != cell.row) {
                            rowTemp = cell.row;
                            datas.push([]);
                            datas[cell.row].push(cell.value);
                        } else {
                            datas[cell.row].push(cell.value);
                        }
                    }
                    return datas;
                },
                serealizeModel() {

                }
            },
            components: {
                HotTable: Handsontable.vue.HotTable
            },
        })
    </script>
}